@import 'tailwindcss';
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary); 
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --app-height: 100vh;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0); 
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --color-border: hsl(240, 5%, 84%);
  --color-ring: hsl(215, 20%, 65%);
}
 
.scroll-hidden { 
  scrollbar-width: none !important;  
  -ms-overflow-style: none !important; 
}
 
.scroll-hidden::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;      
  height: 0 !important;
}
 
.scroll-hidden [data-radix-scroll-area-viewport] { 
  scrollbar-width: none !important; 
  -ms-overflow-style: none !important; 
}

.scroll-hidden [data-radix-scroll-area-viewport]::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;      
  height: 0 !important;
}

@layer base {
  *, ::before, ::after {
    border-color: var(--color-border);
    outline-color: hsl(215, 20%, 65% / 0.5);
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
} 